# ignore files for a vscode extension
# https://code.visualstudio.com/api/working-with-extensions/publishing-extension#publishing

# dependencies
node_modules/

# compiled output
out/
jupyterhub-file-explorer-0.0.1.vsix